/* global Variables */
:root {
  --playfair-display: 'Playfair Display', serif;
  --montserrat: 'Montserrat', sans-serif;
  --body-width : 1280px
}
[data-theme="dark"] {
  --main-bg-color: #181719;
  --color: #ffffff;
  --greyColor: #bdbdbd;
  --mainContentTextColor: #333333;
}
[data-theme="light"] {
  --main-bg-color: #f9f9f9;
  --color: #000000;
  --greyColor: #4f4f4f;
  --mainContentTextColor: #333333;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--playfair-display);
}

body {
  background-color: var(--main-bg-color);
  color: var(--color);
  width: 100%;
  max-width: var(--body-width);
  margin: 0 auto;
  padding: 50px;
}

h1.article__title {
  font-family: var(--playfair-display);
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
}
.article__intro p {
  font-family: var(--montserrat);
font-style: italic;
font-weight: 500;
font-size: 0.9rem;
line-height: 1rem;
color: var(--greyColor);
margin-bottom: 2em;
width: 100%;
max-width: 600px;
}
.article__img {
  width: 100%;
  max-width: var(--body-width);
  margin-bottom: 3em;
}

h2 {
  font-family: var(--playfair-display);
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2em;
  color: var(--mainContentTextColor);
}

h3 {
  font-family: var(--playfair-display);
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin-bottom: 2em;
}

.instuctions {
  display:flex;
  
}


@media only screen and (max-width: 991px) {
  .content {
    flex-direction: column;
  }
  .mobile__nav__icon {
    display: block !Important;
  }
  .mobile__nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    height: 100vh;
    top: 0;
    background: var(--main-bg-color);
    width: 100%;
    left: 0;
  }
  .mobile__nav__off {
      display: none !important;
  }
  .mobile__nav__icon:hover {
      cursor: pointer;
  }
  .mobile__nav__icon__close {
      position:absolute;
      top:0;
      right: 0;
      margin:50px;
      cursor: pointer;
  }
  .mobile__nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mobile__nav ul li {
      padding: 20px;
      margin: 0 auto;
  }
  .material-icons.md-48 {
    font-size: 48px;
  }
  nav.nav {
    display: none;
  }
}
